* {
  /* margin: 0; */
  padding: 0;
  list-style-type: none;
}
.header {
  height: 110px;
  background-image: url("image/top_bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.header img {
  height: 80px;
}
.header ul {
  position: absolute;
  left: 1px;
  bottom: -10px;
  display: block;
  height: 26px;
  width: 60%;
  background-color: rgb(209, 209, 209);
}
.blue img {
  width: 100%;
}
#one {
  float: left;
  z-index: 0;
}
#two {
  float: right;
  z-index: -1;
}
li {
  float: left;
  background-color: rgb(209, 209, 209);
  padding-left: 5%;
  margin: 1% 0;
}
a {
  color: black;
  text-decoration: none;
  z-index: 1;
  font-weight: 600;
}
.blank {
  background-color: purple;
}
.content {
  display: inline-grid;
  grid-template-columns: 30% 30% 33%;
  background-color: #fff;
}
.item {
  float: left;
  background-color: rgb(209, 209, 209);
  width: 400px;
  margin: 10px 10px;
}

.nav img {
  height: 18px;
  width: 1px;
  margin: 2px 13px;
}
.nav {
  background-color: rgb(238, 236, 236);
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  align-content: center;
}
footer {
  font-size: 12px;
}
footer b {
  font-weight: normal;
  color: orange;
}
